.none {
    height:50px;
}
.row {
    width:80%;
    margin:0 auto;
}
.label-name-short {
    width: 7em;
}

.label-name-normal {
    width: 9.5em;
}

.label-name-long {
    width: 12em;
}

#header {        
    background-color:  rgb(74, 77, 80);    
    padding: 10px 0px;
}

#header h2 {
    padding-left: 50px;
    color: white;
}

.logo {
    margin-left: -50px;
}

#page {
    background-color: rgb(200, 200, 200);
}

#content {
    width:94%;
    margin-left: 3%;
    min-height: 600px;    
    padding-bottom: 20px;
}

#footer {    
    text-align: center;
    font-size: 0.8em;
    color: white;
    background-color:  rgb(74, 77, 80);
    margin: 0px;
    padding: 10px 0px;
}

.page-title {
    color:red; 
    text-align:center;
}

.row {
    width: 100% !important;
}

.row.device {
    width: 100%;
    margin: 20px 0px;
}

.crop {
    overflow: hidden;
    text-overflow: ellipsis;
}
